.login-form {
  @include display(flex, 33em, 21em, 0, 0.4em);
  margin: 5em auto 3em;
  flex-direction: column;
  align-items: center;
  background: #fffaf6;
  color: #7e7975;
  box-shadow:
      0 2px 2px rgba(0,0,0,0.2),        
      0 1px 5px rgba(0,0,0,0.2),        
      0 0 0 12px rgba(255,255,255,0.4); 
  #log-in {
    font-size: 3em;
    padding-top: 0.3em; 
    color: #6c6763;  
  };
  label {
    display: block;
    // padding: 0 0 5px 2px;
    font-size: 0.4em;
    color: black;
  };
}

.wrong-login-msg {
  font-size: 1em;
  color: #c05322;
}

.login-form .float {
  width: 40%;
  padding-top: $small;
}

.login-form input[type=text],
.login-form input[type=password] {
  @include display(block, 120%, 3em, $medium, 0.2em);
  font-size: $medium;
  border: 0.2em solid #ebe6e2;
  transition: all 0.3s ease-out;
  & :hover {
    border-color: #CCC;
  }
}

.login-form input[type=submit] {
  @include width-height(7em, 2em);
  box-shadow: inset 0 .1em rgba(255,255,255,0.3);
  border-radius: $small;
  cursor: pointer;
  font-size: $medium;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(#fbd568, #ffb347);
  border: 1px solid #f4ab4c;
  color: #996319;
  &:hover {
    box-shadow: 
      inset 0 1px rgba(255,255,255,0.3), 
      inset 0 20px 40px rgba(255,255,255,0.15);
  }
  &:active {
    top: 1px;
  }
}
