@mixin display($style, $width, $height, $padding, $border-radius) {
  display: $style;
  width: $width;
  height: $height;
  padding: $padding;
  border-radius: $border-radius;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

// @mixin response($breakpoint) {
//   @if $breakpoint == big-desktop {
//     @media only screen and (max-width: 1200px) {
//       .dashboard {
//         margin: 10em 1em;
//       }
//     }
//   }
//   @if $breakpoint == big-tab {
//     @media only screen and (max-width: 1023px) {
//       .right-side {
//         display: block;
//       }
//       .delete-booking {
//         margin: 3em 0;
//       }
//     };
//   }
//   @if $breakpoint == small-tab {
//     @media only screen and (max-width: 767px) {
//       .guest-data {
//         width: 10em;
//       }
//     };
//   }
// }

// @mixin response($breakpoint) {
//   @if $breakpoint == phone {
//     @media only screen and (max-width: 480px) {};//600
//   }
//   @if $breakpoint == small-tab {
//     @media only screen and (max-width: 767px) {};//900
//   }
//   @if $breakpoint == big-tab {
//     @media only screen and (max-width: 1023px) {};//1200
//   }
//   @if $breakpoint == big-desktop {
//     @media only screen and (max-width: 1200px) {};//1800
//   }
// }
