/* This is an example of using Sass, otherwise plain CSS works too*/
//import variables from ('./variables')
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'variables', 'mixin', 'login';

@media only screen and (max-width: 1200px) {
  .delete-booking {
    width: 60%;
  }
}

.hidden {
  display: none;
}

.hide {
  visibility: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../images/background.png") center / 100% 100% no-repeat;
  @include width-height(100%, 100vh);
}

.login-page {
  margin-top: 10em;
}

h1 {
  text-align: center;
  font-size: 5em;
  color: #79bfee;
}

h2 {
  font-family: $font;
  font-size: 2.5em;
  color: #0d25ad;
}

input {
  @include display(block, 9em, 1.5em, 0.1em, 0.1em);
  font-size: 2em; 
  font-weight: lighter;
  margin-bottom: 1em;
}

button {
  @include width-height(6em, 2em);
  font-size: 1em;
  background-color: #4287f5;
  border: none;
  border-radius: 3em;
  color: #fff;
  transition: 300ms;
  &:hover {
    cursor: pointer;
    color: rgb(5, 5, 197);
    opacity: 0.7;
  };
}

.book-btn {
  margin:1em 0;
}

.main-page {
  @include width-height(100%, -webkit-fill-available);
  background-color: $dashboard-background-color;
  overflow-y: auto;
}

nav {
  display: flex;
  background-color: #3e97de;
}

img {
  @include width-height(3em, 3em);
  margin-right: 1em;
}

.dashboard {
  padding: 1em;
  margin: 10em 10em;
  display: flex;
  border: #4097de6b 0.5em solid;
}

.left-side {
  width: 40%;
}

.today-data {
  margin-bottom: 2em;
}

.label-name {
  font-family: $font;
  font-size: 1.6em;
}

p {
  font-size: 2.5em;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.right-side {
  margin-left: 10%;
  width: 60%;
  display: flex;
}

.delete-booking {
  width: 40%;
  margin-left: 2em;
}

#room-num {
  width: 6em;
}

.delete-booking-btn {
  width: 9em;
}

.guest-data {
  width: 30em;
}

#guest {
  width: 7em;
}
