/* This is an example of using Sass, otherwise plain CSS works too*/
//import variables from ('./variables')
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'variables', 'mixin', 'login';

.hidden {
  display: none;
}

.hide {
  visibility: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../images/background.png") center / 100% 100% no-repeat;
  @include width-height(100%, 100vh);
}

.login-page {
  margin-top: 10em;
}

h1 {
  text-align: center;
  font-size: 5em;
  color: #79bfee;
}

h2 {
  font-family: $font;
  font-size: 2.5em;
  color: #114293;
}

input {
  @include display(block, 9em, 1.5em, 0.1em, 0.1em);
  font-size: 1.4em; 
  font-weight: lighter;
  margin: 0.5em 0 1em;
}

button {
  @include width-height(6em, 2em);
  font-size: 1em;
  background-color: #4287f5;
  border: none;
  border-radius: 3em;
  color: #fff;
  transition: 300ms;
  &:hover {
    cursor: pointer;
    color: rgb(5, 5, 197);
    opacity: 0.7;
  };
}

.book-btn {
  margin:1em 0;
}

.main-page {
  @include width-height(100%, -webkit-fill-available);
  background-color: $dashboard-background-color;
  overflow-y: auto;
}

nav {
  display: flex;
  background-color: #3e97de;
}

img {
  @include width-height(3em, 3em);
  margin-right: 1em;
}

.dashboard {
  padding: 1em;
  margin: 10em 10em;
  display: flex;
  border: #4097de6b 0.5em solid;
}

.left-side {
  width: 40%;
}

.today-data {
  margin-bottom: 2em;
  background-color: white;
  box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
}

.label-name {
  font-family: $font;
  font-size: 1.6em;
}

p {
  font-size: 2em;
  color: #071775;
  &:hover {
    opacity: 0.5;
  }
  &.guest {
    margin-top: 1em;
    color: #f3f1f1;
    background-color: #4097de;
    border-radius: 0.2em;
    padding: 0.2em;
    box-shadow: 0.2em 0.2em #b2d2f0;
  }
}

.room-list, .booking-list {
  cursor: pointer;
  margin: 2em 0;
  background-color: #aad6fa99;
  box-shadow: 1em 1em #8f979d;
  border-radius: 0.6em;
  padding: 0.5em;
}

.right-side {
  margin-left: 10%;
  width: 60%;
  display: flex;
}

#customer-data-display {
  width: fit-content;
  padding: 0.5em;
}

.guest-data {
  width: 30em;
}

#guest-name {
  width: 8em;
}

.delete-booking {
  width: 40%;
  margin-left: 2em;
}

#room-num {
  width: 7em;
  height: 1.5em;
}

.delete-booking-btn {
  width: 9em;
}

@media only screen and (max-width: 1200px) {
  .dashboard {
    margin: 10em 1em;
  }
}

@media only screen and (max-width: 1023px) {
  .right-side {
    display: block;
  }
  .delete-booking {
    margin: 3em 0;
  }
}

@media only screen and (max-width: 767px) {
  .guest-data {
    width: 10em;
  }
}

@media only screen and (max-width: 480px) {
  .dashboard {
    display: block;
  }
  .right-side {
    margin-top: 2em;
  }
  .left-side {
    width: 100%;
  }
}
  
